@charset "UTF-8";
a {
  color: #303030; }
  a:hover {
    color: #FA3F3F;
    text-decoration: none; }
  a svg {
    margin: 0 5px; }

.color_fff {
  color: #fff; }

.color_dark {
  color: #303030; }

.color_red {
  color: #FA3F3F; }

.color_gray {
  color: #737373; }

.flex_baseline {
  align-items: baseline; }

.red_bg {
  background: #FA3F3F; }

.list_red {
  font-weight: 500; }
  .list_red li {
    font-family: 'Roboto', sans-serif; }
  .list_red > ::before {
    color: #FA3F3F !important; }

.shadow_none {
  box-shadow: none; }

.bg_gray_dark {
  background: #F4F4F4; }

.text_bold_800 {
  font-weight: 800; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px; }
.justify-content-center {
  justify-content: center;
  display: flex;
}
.uk-card-count {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  color: #FFFFFF;
  opacity: 0.4;
  left: -20px;
  top: 13px;
}
.checkbox {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  position: relative;
  line-height: 16px; }
  .checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    margin: 0;
    opacity: 0;
    cursor: pointer; }
    .checkbox input:checked ~ span.checkbox__custom-input {
      background: #0075FF url("../../images/checkbox.png") no-repeat center;
      border: solid 2px #0075FF; }
  .checkbox__custom-input {
    width: 22px;
    min-width: 22px;
    height: 22px;
    border: solid 2px #DADADA;
    border-radius: 3px; }
  .checkbox__text {
    font-size: 12px;
    padding: 0 0 0 5px;
    font-family: 'Roboto', sans-serif; }

.radio {
  position: relative;
  cursor: pointer;
  padding: 0 0 0 20px;
  font-family: 'Roboto', sans-serif; }
  .radio input {
    opacity: 0;
    margin: 0; }
  .radio input:checked ~ span:before {
    border: solid 1px #FA3F3F; }
  .radio input:checked ~ span:after {
    content: ''; }
  .radio span {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 0; }
    .radio span:before {
      width: 22px;
      height: 22px;
      border: solid 1px #DADADA;
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: -5px;
      border-radius: 100%; }
    .radio span:after {
      width: 10px;
      height: 10px;
      background: #FA3F3F;
      display: block;
      position: absolute;
      left: 7px;
      top: 2px;
      border-radius: 100%; }

.red-button {
  border: none;
  border-radius: 5px;
  background: #FA3F3F;
  height: 46px;
  width: 100%;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border: solid 1px transparent;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-width: 640px) {
    .red-button {
      font-size: 14px; } }
  .red-button__orange-button {
    background: #fa3f3f1f;
    color: #FA3F3F; }
  .red-button:hover {
    color: #FA3F3F;
    border: solid 1px #FA3F3F;
    background: none; }
    .red-button:hover svg path {
      fill: #FA3F3F; }
  .red-button:active {
    background: #fa3f3f1f; }
  .red-button > svg {
    margin-right: 10px; }
  .red-button_small {
    outline: none;
    border: 1px solid transparent;
    border-radius: 17px;
    background: #FA3F3F;
    height: 34px;
    width: 100%; }
  .red-button_short {
    padding-right: 35px;
    padding-left: 35px;
    width: auto;
    display: inline-flex; }

.fs-12 {
  font-size: 12px; }

.fs-14 {
  font-size: 14px; }

@media (max-width: 640px) {
  .fs-14-mobile {
    font-size: 14px; } }

.fs-18 {
  font-size: 18px;
  line-height: 28px; }

.fs-22 {
  font-size: 18px; }
  @media (min-width: 640px) {
    .fs-22 {
      font-size: 22px; } }

.fs-28 {
  font-size: 18px; }
@media (min-width: 640px) {
  .fs-28 {
    font-size: 28px; } }


@media (min-width: 640px) {
  .fs-36 {
    font-size: 36px; } }

.roboto_font {
  font-family: 'Roboto', sans-serif; }

.border_overflow_hide {
  position: relative;
  overflow: hidden;
  border-radius: 10px; }

.border_gray {
  border: solid 1px #DADADA; }

.border_red {
  border: solid 1px #FA3F3F; }

.padding_mobile_left {
  padding-left: 30px; }
  @media (min-width: 640px) {
    .padding_mobile_left {
      padding-left: 0; } }

@media (max-width: 640px) {
  h2 {
    font-size: 22px; } }

.height1 {
  height: 200px; }

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; }

.width_500 {
  width: 100%;
  max-width: 500px; }

@media (max-width: 640px) {
  .grid_small_mobile {
    margin-left: -15px; }
    .grid_small_mobile > * {
      padding-left: 15px; }
    .grid_small_mobile > .uk-grid-margin, .grid_small_mobile + .uk-grid {
      margin-top: 15px; } }

h1, .uk-h1 {
  font-size: 2rem; }

h3, .uk-h3 {
  font-size: 22px; }

@media (max-width: 640px) {
  .padding_left_right_remove_mobile {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

body {
  font-size: 14px;
  color: #303030; }
  @media (min-width: 640px) {
    body {
      font-size: 16px; } }

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box; }

.base-block {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  display: flex; }
  .base-block:hover {
    background: #fff; }

.red-block-top {
  background: url("../../images/banner-red.png") no-repeat center;
  height: 284px;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  text-align: center; }
  @media (min-width: 640px) {
    .red-block-top {
      font-size: 28px;
      font-weight: 700;
      line-height: 36px; } }
  .red-block-top:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(250, 63, 63, 0.85); }
  .red-block-top > * {
    position: relative;
    z-index: 1; }

.quality-control {
  background: url("../../images/2quality.png") no-repeat center;
  background-size: cover; }
  @media (min-width: 1200px) {
    .quality-control_width40 {
      width: 40%; } }
  @media (min-width: 1200px) {
    .quality-control_width45 {
      width: 45%; } }
  @media (min-width: 1200px) {
    .quality-control_width50 {
      width: 50%; } }
  @media (min-width: 1200px) {
    .quality-control_width55 {
      width: 55%; } }
  @media (min-width: 1200px) {
    .quality-control_width60 {
      width: 60%; } }

.gray_bg {
  background: #FBFAFA; }

.partner {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px; }
  .partner:hover {
    background: #fff; }

.red-block-form {
  background: #FA3F3F;
  padding-top: 15px;
  padding-bottom: 15px; }
  @media (min-width: 640px) {
    .red-block-form {
      padding-top: 0;
      padding-bottom: 0; } }
  .red-block-form__text {
    font-size: 18px;
    color: #fff;
    line-height: 24px; }
    @media (min-width: 640px) {
      .red-block-form__text {
        font-size: 32px;
        color: #fff;
        line-height: 40px; } }

.uk-navbar-nav > li > a, .uk-navbar-item, .uk-navbar-toggle {
  font-size: 13px;
  font-family: 'Roboto', sans-serif; }

nav a {
  font-weight: 400;
  color: #303030 !important;
  position: relative; }
  nav a:hover {
    color: #FA3F3F !important; }

nav a:not(.burger)[aria-expanded]:after, nav .uk-parent > a:not(.burger):after {
  content: '';
  position: absolute;
  right: -0px;
  top: 50%;
  margin: -3px 0 0;
  border: 6px solid transparent;
  border-top: 6px solid #FA3F3F;
  width: 0 !important;
  height: 0 !important;
  background-image: none !important; }

nav a[aria-expanded=true] {
  color: #FA3F3F !important; }
  nav a[aria-expanded=true]:after {
    border-top: none;
    border-bottom: 6px solid #FA3F3F; }

.uk-nav-default > li > a {
  text-transform: uppercase;
  font-weight: 500; }

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: none; }

.burger[aria-expanded="false"] .burger__open {
  display: block; }

.burger[aria-expanded="false"] .burger__closed {
  display: none; }

.burger[aria-expanded="true"] .burger__open {
  display: none; }

.burger[aria-expanded="true"] .burger__closed {
  display: block; }

.uk-navbar-nav > li > a, .uk-navbar-item, .uk-navbar-toggle {
  min-height: 0; }

.nav-bar.uk-navbar-dropdown {
  border-radius: 0;
  box-shadow: none;
  width: 320px;
  padding: 0 25px 25px 25px;
  left: 0 !important;
  top: 39px !important; }

.uk-navbar.nav-bar {
  position: static; }

.locale {
  position: relative;
  display: flex;
  align-items: center; }
  .locale:before {
    content: '';
    position: absolute;
    right: -15px;
    top: 50%;
    margin: -3px 0 0;
    border: 6px solid transparent;
    border-top: 6px solid #FA3F3F; }

.uk-navbar-nav > li:first-of-type > a {
  padding-left: 0; }

@media (max-width: 575px) {
  header > .uk-container > .uk-flex-middle {
    flex-wrap: nowrap;
  }
  header > .uk-container > .uk-flex-middle > .uk-flex {
    padding-left:  5px;
  }
  .uk-navbar-nav > li:first-of-type > a {
    padding-right: 0;
  }
}

.blog-and-case {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 13px;
  display: flex; }

@media (min-width: 640px) {
  .main-slider {
    margin: 0; } }

.top-banner {
  position: relative; }
  .top-banner__img img {
    width: 100%;
    height: 100%;
  }
  .top-banner__text {
    background: url("../../images/bg-gradient.png") no-repeat center;
    background-size: cover;
    line-height: 28px;
    font-size: 18px;
    padding: 50px 40px 150px 40px; }
  .top-banner__detail {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #FA3F3F; }
  .top-banner__masonry {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0; }
    @media (min-width: 640px) {
      .top-banner__masonry {
        padding: 0 5px; } }

.slick-slide {
  font-size: 0; }

.thumb-slider .slick-track {
  display: flex; }

.thumb-slider .slick-slide {
  height: inherit; }
  .thumb-slider .slick-slide > div {
    padding: 10px; }
  .thumb-slider .slick-slide div {
    height: 100%; }

.thumb-slider .slick-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  padding: 20px 10px; }
  @media (min-width: 640px) {
    .thumb-slider .slick-item {
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
      padding: 30px 15px; } }

.thumb-slider .slick-current .slick-item {
  position: relative;
  color: #FA3F3F;
  background: #fff; }
  .thumb-slider .slick-current .slick-item:before {
    background: #FA3F3F;
    width: 2px;
    height: 80%;
    left: 0;
    top: 10%;
    content: '';
    position: absolute; }

.small-slider {
  color: #303030;
  font-size: 16px;
  width: 100%;
  max-width: 970px;
  margin: auto;
  position: relative; }
  .small-slider__body {
    border-radius: 10px;
    position: relative;
    overflow: hidden; }
  .small-slider__item {
    background: #FBFAFA;
    margin-left: 0; }
  .small-slider__head {
    font-size: 22px;
    margin-bottom: 20px;
    display: block;
    font-weight: 500; }
  .small-slider__text-container {
    margin-left: 0;
    height: 100%;
    line-height: 22px;
    padding: 15px 0 15px 30px; }
    @media (min-width: 640px) {
      .small-slider__text-container {
        padding: 0 20px 0 40px; } }
    .small-slider__text-container * {
      color: #303030; }
  .small-slider__img-container img {
    max-width: 100%;
    max-height: 100%; }
  @media (max-width: 640px) {
    .small-slider__img-container {
      padding: 0; } }
  .small-slider__button {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #FBFAFA;
    display: flex;
    align-items: center;
    justify-content: center; }
    .small-slider__button svg {
      width: 8px; }
      .small-slider__button svg polyline {
        stroke-width: 3; }
    .small-slider__button:hover {
      background: #FA3F3F;
      color: #fff; }
    .small-slider__button.uk-position-center-left {
      left: -120px; }
    .small-slider__button.uk-position-center-right {
      right: -120px; }

.quality-control__item {
  padding: 5px 15px 5px 0;
  border-radius: 0 10px 10px 0;
  background: #fff;
  margin-bottom: 20px;
  position: relative; }
  .quality-control__item * {
    position: relative;
    z-index: 2; }
  .quality-control__item:before {
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 1;
    content: '';
    height: 100%;
    top: 0;
    right: 100%; }

.quality-control__item-number {
  position: absolute;
  z-index: 1;
  left: 0;
  font-weight: bolder;
  font-size: 4rem;
  top: -26px;
  color: #FA3F3F;
  opacity: 0.2;}

.quality-control__head {
  font-size: 22px;
  font-weight: 500;
  padding: 15px 0 5px; }

.tile-hover {
  background: #FBFAFA;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  height: 100%; }
  .tile-hover__body {
    border-radius: 10px;
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden; }
    @media (min-width: 640px) {
      .tile-hover__body:before {
        color: #fff;
        padding: 15px;
        width: calc(100%);
        height: calc(100%);
        left: 0;
        top: 0;
        position: absolute;
        border-radius: 10px;
        z-index: 1;
        content: '';
        transition: 0.3s; }
      .tile-hover__body:hover {
        overflow: visible; }
        .tile-hover__body:hover:before {
          background: #FA3F3F;
          width: calc(100% + 60px);
          height: calc(100% + 60px);
          left: -45px;
          top: -45px; }
        .tile-hover__body:hover * {
          z-index: 2;
          color: #fff;
          position: relative; } }

.form {
  background: #fff;
  padding: 30px 25px;
  box-shadow: 0 0 10px #0003;
  border-radius: 10px; }
  @media (min-width: 640px) {
    .form {
      border-radius: 10px;
      margin-top: -30px !important;
      margin-bottom: -30px !important; } }
  .form_margin-bottom-0 {
    margin-bottom: 0 !important; }
  .form_bottom-radius-0 {
    border-radius: 10px 10px 0 0; }
  .form_margin-top-0 {
    margin-top: 0 !important; }
  .form a {
    color: #FA3F3F; }
  .form_modal {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 0;
    box-shadow: none; }
    @media (max-width: 640px) {
      .form_modal {
        padding: 0; } }
  .form input[type='text'] {
    border: none;
    border-bottom: solid 1px #303030;
    padding: 0;
    font-size: 15px;
    font-family: 'Roboto', sans-serif; }
    .form input[type='text']::-webkit-input-placeholder {
      color: #737373; }
    .form input[type='text']::-moz-placeholder {
      color: #737373; }
    .form input[type='text']:-ms-input-placeholder {
      color: #737373; }
    .form input[type='text']:-moz-placeholder {
      color: #737373; }

.slider-gradient {
  position: relative;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1; }
  .slider-gradient:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(48, 48, 48, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(48, 48, 48, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(48, 48, 48, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00303030',GradientType=1 );
    /* IE6-9 */ }

.uk-dotnav > .uk-active > * {
  background: #FA3F3F; }

footer {
  background: #303030;
  font-family: 'Roboto', sans-serif; }

.vertical-line {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px; }
  .vertical-line__body {
    width: 1px;
    border-left: dashed 2px #DADADA;
    position: absolute;
    top: 150px;
    height: 100%;
    z-index: 100;
    left: 13px; }
    @media (min-width: 1480px) {
      .vertical-line__body {
        left: -1452px;
        right: 0;
        margin: 0 auto 0 auto; } }
  .vertical-line__point-start {
    width: 24px;
    height: 24px;
    border: solid 2px #fff;
    position: absolute;
    left: 10%;
    top: 0;
    margin: -27px 0 0 -13px;
    border-radius: 100%; }
  .vertical-line__point-red {
    width: 12px;
    height: 12px;
    border: solid 2px #FA3F3F;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    background: #fff;
    z-index: 101;
    margin: 13px 0 0 -6px; }
    @media (min-width: 640px) {
      .vertical-line__point-red {
        margin: 16px 0 0 8px; } }

footer {
  text-align: center; }
  @media (min-width: 640px) {
    footer {
      text-align: left; } }

.hidden {
  display: none !important; }

.uk-navbar-nav.nav-bar > li > a {
  font-size: 13px; }

@media (max-width: 640px) {
  .padding_remove_mobile_left {
    padding-left: 0; } }

@media (max-width: 640px) {
  .padding_small_mobile {
    padding: 15px; } }

.search__body {
  border-radius: 15px;
  display: flex;
  overflow: hidden;
  height: 44px; }

.search__text {
  font-size: 16px;
  padding: 0 15px 0;
  font-family: 'Roboto', sans-serif;
  background: #FBFAFA; }

.search__submit {
  border: none;
  border-radius: 0;
  background: #FA3F3F;
  height: auto;
  width: 60px;
  cursor: pointer;
  background: #FBFAFA; }
  .search__submit:hover {
    background: none; }
    .search__submit:hover svg path {
      fill: #FA3F3F; }

.uk-navbar-dropdown-grid > :not(.uk-first-column)::before {
  display: none; }

.wn-banner {
  background: url("../../images/bg-gradient.png") no-repeat center;
  background-size: cover;
  position: relative; }
  @media (min-width: 640px) {
    .wn-banner {
      height: 420px; } }
  .wn-banner__img {
    position: relative;
    overflow: hidden;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    .wn-banner__img img {
      max-width: 100%;
      max-height: 100%; }
  .wn-banner__text {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 18px; }
  .wn-banner__head {
    font-size: 28px;
    line-height: 50px; }
    @media (min-width: 640px) {
      .wn-banner__head {
        font-size: 44px; } }

.border-radius {
  border-radius: 10px; }

.circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  background: #FBFAFA;
  margin: auto; }

.position_left {
  position: absolute;
  left: 0; }

.execution-stages {
  position: relative;
  padding-bottom: 50px; }
  @media (min-width: 640px) {
    .execution-stages {
      display: flex; } }
  .execution-stages_no-line:before {
    display: none !important; }
  .execution-stages__left {
    width: 44px;
    min-width: 44px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%; }
    @media (min-width: 640px) {
      .execution-stages__left {
        width: 70px;
        min-width: 70px; } }
    .execution-stages__left:before {
      width: 1px;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 71px;
      background: #eee; }
      @media (min-width: 640px) {
        .execution-stages__left:before {
          content: ''; } }
  .execution-stages__center {
    padding: 10px 15px 0 60px;
    height: 100%; }
    @media (min-width: 640px) {
      .execution-stages__center {
        padding: 15px 15px 0 95px;
        width: calc(50% - 35px); } }
  .execution-stages__head {
    color: #FA3F3F;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 10px;
    font-weight: 500; }
  .execution-stages__event {
    font-size: 22px;
    line-height: 26px;
    font-weight: 500; }
  .execution-stages__right {
    background: #F4F4F4;
    height: 100%;
    position: relative;
    padding: 25px 20px 15px 75px;
    margin: 0 -15px;
    font-weight: 500; }
    @media (min-width: 640px) {
      .execution-stages__right {
        width: calc(50% - 35px);
        border-radius: 10px;
        margin: 0; } }
    .execution-stages__right:before {
      background: #2ED972 url("../../images/checkbox.png") no-repeat center;
      width: 24px;
      height: 24px;
      position: absolute;
      content: '';
      border-radius: 100%;
      left: 20px; }

.red_arrow {
  position: relative;
  line-height: 34px; }
  @media (min-width: 640px) {
    .red_arrow {
      line-height: 45px; } }
  .red_arrow:before, .red_arrow:after {
    position: absolute;
    content: '';
    display: block;
    z-index: 0; }
  .red_arrow:before {
    background: #FA3F3F;
    width: 100%;
    height: 34px;
    right: -10px;
    top: 0; }
    @media (min-width: 640px) {
      .red_arrow:before {
        height: 40px; } }
  .red_arrow:after {
    border-top: 16px solid transparent;
    border-left: 15px solid #FA3F3F;
    border-bottom: 18px solid transparent;
    right: -25px;
    top: 0; }
    @media (min-width: 640px) {
      .red_arrow:after {
        border-top: 20px solid transparent;
        border-left: 20px solid #FA3F3F;
        border-bottom: 20px solid transparent;
        right: -30px; } }
  .red_arrow > * {
    position: relative;
    z-index: 2; }

.popup {
  width: 1170px; }
  .popup .uk-modal-close {
    position: absolute;
    background: none;
    cursor: pointer;
    right: 5px;
    top: 5px;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 100%; }
    .popup .uk-modal-close:before, .popup .uk-modal-close:after {
      content: '';
      width: 12px;
      height: 2px;
      background: #FA3F3F;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: 50% auto 0;
      top: 0; }
    .popup .uk-modal-close:after {
      transform: rotate(45deg); }
    .popup .uk-modal-close:before {
      transform: rotate(-45deg); }

.blur {
  animation: changeWidth 8s ease-in-out infinite;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  height: 100vh; }

.multiple-filters {
  backdrop-filter: blur(20px) saturate(120%) contrast(200%); }

.nav-bar .uk-navbar-dropdown-grid {
  background: #fff; }

.position-static {
  position: static !important; }

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FA3F3F;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f9f9fd;
}

.page-detail__bottom {
  border-top: 1px solid #DADADA;
  padding-left: 16px;
  padding-right: 16px;
  padding-top:34px;
  margin-bottom: 40px !important;
  margin-top: 40px !important;
}
.page-detail__bottom div:first-child {
  text-align: left;
  padding: 0;
}
.page-detail__bottom div:first-child a:after {
  content: "";
  background: url(../images/line-left.svg) left no-repeat;
  width: 153px;
  height: 7px;
  position: absolute;
  top: 30px;
  left: 0;
}
.page-detail__bottom div:last-child a:after {
  content: "";
  background: url(../images/line-right.svg) right no-repeat;
  width: 145px;
  height: 7px;
  position: absolute;
  top: 30px;
  right: 0;
}
.page-detail__bottom div:last-child {
  text-align: right;
  padding: 0;
}
.page-detail__bottom div a {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FA3F3F;
  text-decoration: none;
}
.page-detail__bottom div a:hover {
  color: #FA3F3F;
  opacity: 0.8;
}
.detail-header .page-header__h1 {
  margin-bottom: 24px !important;
}
.page-header__description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 62px;
}
.page-header-bottom {
  border-top:1px solid #DADADA;
  padding-top: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.big-blog-element__time.white {
  filter: brightness(10);
  font-size: 14px !important;
}
.page-header-bottom .categories_link {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.page-header-bottom .categories__item {
  margin-bottom: 0 !important;
}
.page-detail {
  padding-top: 48px;
  padding-bottom: 100px;
}
.page-detail .page-detail__text {
  max-width: 800px;
}
@media (max-width: 767px){
  .page-detail__bottom div:first-child:after {
    content: "";
    background: url(../images/line-left.svg) left no-repeat;
    width: 134px;
    height: 7px;
    position: absolute;
    top: 30px;
    left: 0;
  }
  .page-detail__bottom div:last-child:after {
    content: "";
    background: url(../images/line-right.svg) right no-repeat;
    width: 126px;
    height: 7px;
    position: absolute;
    top: 30px;
    right: 0;
  }
  .page-detail__bottom div a {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: #FA3F3F;
    text-decoration: none;
  }
  .page-detail__bottom div a:hover {
    color: #FA3F3F;
    opacity: 0.8;
  }
  .page-detail__bottom div:first-child {
    order: 1;
    text-align: left;
  }
  .page-detail__bottom div:nth-child(2) {
    order: 3;
  }
  .page-detail__bottom div:last-child {
    order: 2;
  }
  .page-detail__text p {
    padding-left: 16px;
    padding-right: 16px;
  }
  .page-detail__bottom {
    border-top: 1px solid #DADADA;
    padding-left: 16px;
    padding-right: 16px;
    padding-top:34px;
    margin-bottom: 40px !important;
    margin-top: 40px !important;
  }
  .detail-header .page-header__h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px !important;
    line-height: 39px !important;
    text-align: center;
    color: #FFFFFF;
  }
  .detail-header .page-header__description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
  }
  .page-header-bottom {
    flex-direction: column;
  }
  .page-header-bottom div {
    margin-bottom: 17px !important;
  }

  .page-header-bottom .categories__item {
    margin-bottom: 17px !important;
  }
  .page-header-bottom div:last-child {
    margin-bottom: 0 !important;
  }
}


.lang-selector {
    position: relative;
}
.lang-selector button {
    background: #fa3f3f;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 8px 13px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1021;
    width: 100%;
}
.lang-selector .uk-dropdown {
    margin: 0;
    min-width: unset;
    padding: 0;
    width: calc(100% - 15px);
    background: #D6D6D6;
    box-shadow: none;
    border-radius: 0 0 5px 5px;
}
.lang-selector .uk-dropdown a {
    display: block;
    background: #D6D6D6;
    border-radius: 0 0 5px 5px;
    margin-top: -5px;
    padding: 12px 13px 6px;
    font-weight: bold;
    color: #fff;
}


