@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic');

* {
    /*font-family: 'Montserrat';*/
}
h1,h2,h3 {
    font-family: 'Montserrat';
}
.auth__title {
    font-weight: bold;

}
div.bx-auth-serv-icons a{
    margin: 1px;
    border: 1px transparent !important;
}
div.bx-auth-serv-icons a:hover{
    border: 1px transparent !important;
    margin: 1px;
}
.vkontakte {
    width: 48px;
    height: 48px;
    background: url(../images/vkontakte-icon.jpeg) no-repeat;
    background-size: contain;
    border-radius: 50%;
    transition: .5s all;
    border: 1px transparent !important;
}
.vkontakte:hover {
    border: 1px transparent !important;
    opacity: 0.8;
}
.yandex {
    width: 48px;
    height: 48px;
    background: #f7f7f7 url(../images/yandex-icon.jpeg) no-repeat center;
    background-size: 70%;
    border-radius: 50%;
    transition: .5s all;
    border: 1px transparent !important;
}
.yandex:hover {
    border: 1px transparent !important;
    opacity: 0.8;
}
.mailru2 {
    width: 48px;
    height: 48px;
    background: #f7f7f7 url(../images/mail-icon.jpeg) no-repeat center;
    background-size: contain;
    border-radius: 50%;
    transition: .5s all;
    border: 1px transparent !important;
}
.mailru2:hover {
    border: 1px transparent !important;
    opacity: 0.8;
}
.google {
    width: 48px;
    height: 48px;
    background: #f7f7f7 url(../images/google-icon.jpeg) no-repeat center;
    background-size: 70%;
    border-radius: 50%;
    transition: .5s all;
    border: 1px transparent !important;
}
.google:hover {
    border: 1px transparent !important;
    opacity: 0.8;
}
.bitrix24 {
    width: 48px;
    height: 48px;
    background: #ffffff url(../images/bitrix24-icon.png) no-repeat center;
    background-size: 90%;
    border-radius: 50%;
    transition: .5s all;
    border: 1px transparent !important;
}
.bitrix24:hover {
    border: 1px transparent !important;
    opacity: 0.8;
}
.catalog-detail-title h1 a {
    transition: .5s all;
    width: 40px;
    display: inline-block;
    /* padding-right: 10px; */
}
.catalog-detail-title h1 a:hover {
    transition: .5s all;
    width: 40px;
    display: inline-block;
    padding-right: 10px;
}
.section-404 .row {
    width: 100%;
    display: inline-block;
    margin: 10px;
}
.section-404 .row img {
    width: 95%;
    max-width: 400px;
}
.videos-section {
    width: 100vw;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 30px;
}
.videos-section-about {
    width: 100vw;
    height: auto;
    background-color: #ffffff;
}
.navbar .navbar__logo {
    float: left;
}
.navbar ul {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 10rem 0 0;
    list-style: none;
    background-color: white;
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
}

.navbar li {
    position: relative;
    font-size: 2rem;
    padding: 2rem 0 2rem 4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: background 0.2s ease-in;
}
.navbar li:hover {
    background-color: #5EFCE8;
}
.nav {
    /*  ширна произвольная, не стесняйтесь экспериментировать */
    width: 400px;
    min-width: 320px;
    /* фиксируем и выставляем высоту панели на максимум */
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    /* сдвигаем (прячем) панель относительно правого края страницы */
    right: -400px;
    /* внутренние отступы */
    padding: 15px 20px;
    /* плавный переход смещения панели */
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    transition: right 0.3s;
    /* определяем цвет фона панели */
    background: #343434DB;
    /* поверх других элементов */
    z-index: 2000;
}


/**
 * Кнопка переключения панели
 * тег <label>
 */

.nav-toggle {
    position: absolute;
    right: 400px;
    top: 0px;
    padding: 0.5em;
    /* background: inherit; */
    /* color: #dadada; */
    cursor: pointer;
    font-size: 2.0em;
    line-height: 1;
    z-index: 2001;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}


/* определяем текст кнопки
 * символ Unicode (TRIGRAM FOR HEAVEN)
*/

.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
}


/* цвет текста при наведении */

.nav-toggle:hover {
    color: #333333;
}


/**
 * Скрытый чекбокс (флажок)
 * невидим и недоступен :)
 * имя селектора атрибут флажка
 */

[id='nav-toggle'] {
    position: absolute;
    display: none;
}


/**
 * изменение положения переключателя
 * при просмотре на мобильных устройствах
 * когда навигация раскрыта, распологаем внутри панели
*/

[id='nav-toggle']:checked ~ .nav > .nav-toggle {
    left: auto;
    right: 2px;
    top: 0;
}


/**
 * Когда флажок установлен, открывается панель
 * используем псевдокласс:checked
 */

[id='nav-toggle']:checked ~ .nav {
    right: 0;
    box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
    -webkit-box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: auto;
}


/*
 * смещение контента страницы
 * на размер ширины панели,
 * фишка необязательная, на любителя
*/

[id='nav-toggle']:checked ~ main > article {
    -webkit-transform: translateX(-320px);
    -moz-transform: translateX(-320px);
    transform: translateX(-320px);
}


/*
 * изменение символа переключателя,
 * привычный крестик (MULTIPLICATION X),
 * вы можете испльзовать любой другой значок
*/

[id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
    content: '\2715';
    color: #ffffff;
}


/**
 * профиксим баг в Android <= 4.1.2
 * см: http://timpietrusky.com/advanced-checkbox-hack
 */
.modal-dialog {
    top: 40px;
}

body {
    overflow: unset !important;
    -webkit-animation: bugfix infinite 1s;
}

.text-align-center {
    text-align: center;
}

@-webkit-keyframes bugfix {
    to {
        padding: 0;
    }
}


/**
 * позаботьтимся о средних и маленьких экранах
 * мобильных устройств
 */

@media screen and (min-width: 320px) {
    html,
    body {
        margin: 0;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 320px) {
    html,
    body {
        margin: 0;
        overflow-x: hidden;
    }
    .nav {
        width: 100%;
        box-shadow: none
    }
}


/**
 * Формируем стиль заголовка (логотип) панели
*/

/*плавное появление заголовка (логотипа) при раскрытии панели */

[id='nav-toggle']:checked ~ .nav h2 {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}


/**
 * формируем непосредственно само меню
 * используем неупорядоченный список для пунктов меню
 * прикрутим трансфомации и плавные переходы
 */

.nav > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav > ul > li {
    line-height: 2.5;
    opacity: 0;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
    -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
    -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
    transition: opacity .5s .1s, transform .5s .1s;
}

[id='nav-toggle']:checked ~ .nav > ul > li {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}


/* определяем интервалы появления пунктов меню */

.nav > ul > li:nth-child(2) {
    -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
    transition: opacity .5s .2s, transform .5s .2s;
}

.nav > ul > li:nth-child(3) {
    -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
    transition: opacity .5s .3s, transform .5s .3s;
}

.nav > ul > li:nth-child(4) {
    -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
    transition: opacity .5s .4s, transform .5s .4s;
}

.nav > ul > li:nth-child(5) {
    -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
    transition: opacity .5s .5s, transform .5s .5s;
}

.nav > ul > li:nth-child(6) {
    -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
    transition: opacity .5s .6s, transform .5s .6s;
}

.nav > ul > li:nth-child(7) {
    -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
    transition: opacity .5s .7s, transform .5s .7s;
}


/**
 * оформление ссылок пунктов меню
 */

.nav > ul > li > a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-size: 1.2em;
    color: #ffffff;
    width: 100%;
    text-decoration: none;
    /* плавный переход */
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
}


/**
 * состояние ссылок меню при наведении
 */

.nav > ul > li > a:hover,
.nav > ul > li > a:focus {
    color: #ea512f;
    padding-left: 15px;
}


/**
 * линия подчеркивания ссылок меню
 */

.nav > ul > li > a:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}

.nav > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: transparent;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}


/**
 * анимируем линию подчеркивания
 * ссылок при наведении
 */

.nav > ul > li > a:hover:before {
    width: 0%;
    background: transparent;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}

.nav > ul > li > a:hover:after {
    width: 0%;
    background: transparent;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}


/* фон затемнения на основной контент
 * при этом элементы блокируютя
 * спорная такая фича, если оно вам надо
 * просто раскомментируйте
*/

.mask-content {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
}

[id='nav-toggle']:checked ~ .mask-content {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .5s, visibility .5s linear;
    transition: opacity .5s, visibility .5s linear;
    backdrop-filter: blur(5px);
}
/*.container {
    max-width: 1920px;
}*/
.container-sm {
    max-width: 1200px;
}
.section {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    background: #ffffff;
    text-align: center;
    overflow: hidden;
}
.section-all-height {
    min-height: calc(100vh - 180px);
}
.section .section__title {
    font-size: 2.5rem;
    margin-left: 80px;
    margin-right: 80px;
}
.section .section__description {
    font-size: 1.2rem;
}
.section__img {
    width: 100%;
}
.section__button {
    margin-bottom: 120px;
    background: #E15A37 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000061;
    border-radius: 5px;
    color: #ffffff;
    border: 0;
    outline: none;
    font-size: 21px;
    padding-left: 20px;
    padding-right: 20px;
}
.section__button:focus, .section__button:hover, .section__button:active {
    background: #ea512f 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000061;
    border-radius: 5px;
    color: #ffffff;
}
.section__content {
    margin-top: 20px;
    margin-bottom: 20px;
}
.for-business-component {
    max-width: 1600px;
    margin: 0 auto;
}
.for-business-component__item {
    height: 200px;
    box-shadow: 0px 1px 4px #00000057;
    border-radius: 5px;
    margin: 10px;
    padding: 0;
    overflow: hidden;
}
.for-business-component__item a img {
    width: 100%;
    filter: blur(5px);
    transition: .7s all;
}
.for-business-component__item a .for-business-component__item-text-wrapper {
    width: 93%;
    background-color: #ffffff69;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    color: #000;
    padding: 10px;
    right: 0;
    bottom: 25px;
}
.for-business-component__item a .for-business-component__item-text-wrapper:before{
    content: '';
    position: absolute;
    top: 0;
    right: -95%;
    width: 200%;
    height: 100%;
    background: linear-gradient(to left, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0.41) 50%, rgba(255, 255, 255, 0.41) 100%);
    transition: right .7s;
}
.for-business-component__item a:hover > .for-business-component__item-text-wrapper:before{
    right: 0;
}
.for-business-component__item:hover > a img {
    filter: blur(0);
}
.for-business-component__item-text {
    position: relative;
    text-align: left;
}
.section-digital {
    background: url(../images/digital-section-background.png) no-repeat;
    background-size: cover;
    min-height: 550px;
    padding-top: 160px;
}
.advantages {
    padding-bottom: 50px;
}
.advantages__item-1 {
    margin-top:50px !important;
}
.advantages__item {
    min-height: 200px;
    max-width: 800px;
    margin: 0px auto;
    transition: .3s all;
}
.advantages__item.active {
    transition: .3s all;
    background: #FFAA0030 0% 0% no-repeat padding-box;
    border-radius: 5px;
    box-shadow: 0px 0px 60px rgba(51, 51, 51, 0.21);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);

}
.advantages__item-header {
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    transition: .3s all;
}
.advantages__item-text {
    text-align: left;
    transition: .3s all;
    padding-bottom: 10px;
}
.advantages__item-img img {
    width: 100%;
    transition: .3s all;
}
.pp-scrollable {
    padding-bottom: 50px;
}
.pp-scrollable.margin-b {
    padding-bottom: 150px;
}
.comp-first-slider, .comp-second-slider {
    max-width: 1000px;
    margin: 20px auto !important;
}
.comp-first-slider__text h2 {
    position: absolute;
    top: 30%;
    text-align: left;
}
.slider-for {
    background: transparent linear-gradient(132deg, #FFFFFF 0%, #FFFAFF 100%) 0% 0% no-repeat padding-box;
    box-shadow: -2px 3px 3px #0000003B;
    height: 350px;
    max-width: 350px;
}
.slider-for__item {
    outline: none;
}
.slider-nav {
    background: #FFEFEF85 0% 0% no-repeat padding-box;
    width: 100%;
}
.slider-nav__item {
    text-align: center;
    outline: none;
    transition: .3s all;
    opacity: 0.7;
}
.slider-nav__item.slick-center {
    transition: .3s all;
    opacity: 1;
}
.comp-second-slider {
    margin-top: 40px;
}
.slick-slide img {
    margin: 0 auto;
}
.cases-list .cases-list__item {
    margin: 0 !important;
    min-height: auto;
    padding: 0 !important;
    overflow: hidden;
}
.cases-list .cases-list__item img {
    width: 100%;
    min-height: auto;
}
.stocks-list-for {
    max-width: 1320px;
    margin: 0 auto;
    overflow: hidden;
}
.stocks-list-for .stocks-item-for {
    margin: 0 !important;
    min-height: auto;
    padding: 0 !important;
    overflow: hidden;
    outline: none;
}
.stocks-list-for .stocks-item-for img {
    margin: 0 !important;
    min-height: auto;
    width: 100%;
}
.stocks-list-for .slick-next {
    width: 30px;
    height: 30px;
    right: 10px;
    background: url(../images/next-arr.png) no-repeat center;
    background-size: 50%;
    transition: .5s all;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 1px 5px #aaaaaa;
    z-index: 1;
    background-position-x: 9px;
    background-position-y: 50.3%;
}
.stocks-list-for .slick-next:hover, .stocks-list-for .slick-next:focus {
    width: 30px;
    height: 30px;
    right: 10px;
    background: url(../images/next-arr.png) no-repeat center;
    background-size: 50%;
    transition: .5s all;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 1px 5px #aaaaaa;
    z-index: 1;
    opacity: 0.9;
    background-position-x: 9px;
    background-position-y: 50.3%;
}
.stocks-list-for .slick-next:before {
    display: none;
}
.stocks-list-for .slick-prev {
    width: 30px;
    height: 30px;
    left: 10px;
    background: url(../images/prev-arr.png) no-repeat center;
    background-size: 50%;
    transition: .5s all;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 1px 5px #aaaaaa;
    background-position-x: 6px;
    background-position-y: 50.3%;
    z-index: 1;
}
.stocks-list-for .slick-prev:hover, .stocks-list-for .slick-prev:focus {
    width: 30px;
    height: 30px;
    left: 10px;
    background: url(../images/prev-arr.png) no-repeat center;
    background-size: 50%;
    transition: .5s all;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 1px 5px #aaaaaa;
    z-index: 1;
    background-position-x: 6px;
    background-position-y: 50.3%;
    opacity: 0.9;
}
.stocks-list-for .slick-prev:before {
    display: none;
}

.stocks-list-nav {
    overflow: hidden;
    width: 32.6%;
    min-height: 100%;
    margin-left: 5px;
}
.stocks-list-nav .slick-list {
    min-height: 100%;
}
.stocks-list-nav .stocks-item-nav img {
    margin: 0 !important;
    min-height: auto;
    width: 100%;
}
.stocks-list-nav .slick-track {
    max-width: 100%;
}
.stocks-list-nav .slick-slide {
    display: block;
    border: 0px solid transparent;
    height: 160px !important;
    overflow: hidden;
    outline: none;
    padding: 30px 20px 20px 20px;
    border-bottom: 5px solid #ffffff !important;
}
.stocks-list-nav .slick-slide div {
    display: block;
    padding: 15px;
    background: #ffffff;
}
.stocks-list-nav .slick-next {
    width: 30px;
    height: 30px;
    background: url(../images/next-arr.png) no-repeat;
    background-size: contain;
    transition: .5s all;
    z-index: 1;
}
.stocks-list-nav .slick-next:hover, .stocks-list-nav .slick-next:focus {
    background: url(../images/next-arr.png) no-repeat;
    background-size: contain;
    opacity: 0.9;
}
.stocks-list-nav .slick-next:before {
    display: none;
}
.stocks-list-nav .slick-prev {
    width: 30px;
    height: 30px;
    background: url(../images/prev-arr.png) no-repeat;
    background-size: contain;
    transition: .5s all;
    z-index: 1;
}
.stocks-list-nav .slick-prev:hover, .stocks-list-nav .slick-prev:focus {
    background: url(../images/prev-arr.png) no-repeat;
    background-size: contain;
    opacity: 0.9;
}
.stocks-list-nav .slick-prev:before {
    display: none;
}
.stocks-list-nav .slick-prev,
.stocks-list-nav .slick-next {
    -webkit-transform: translate(-50%, 0) rotate(90deg);
    -ms-transform: translate(-50%, 0) rotate(90deg);
    transform: translate(-50%, 0) rotate(90deg);
    left: 50%;
}

.stocks-list-nav .slick-prev {
    top: -10px;
}

.stocks-list-nav .slick-next {
    top: auto;
    bottom: -20px;
}

.slick-vertical .slick-arrow {
    width: 30px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.slick-vertical .slick-arrow:hover {
    opacity: .6;
}
.feedback-card {
    text-align: left;
    padding: 20px 5px;
    margin: 70px auto !important;
    background: transparent url(../images/Oil-Slick.png) 0% 0% no-repeat;
    background-size: cover;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    max-width: 500px;
    height: 260px;
}
.feedback-card input {
    padding: 5px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #9FC9FF;
}
.feedback-card input[name="user_name"] {
    margin-bottom: 105px;
    width: 100%;
}
.feedback-card label {
    float: right;
}
.feedback-card label input {
    max-width: 200px;
}
.comp-first-slider__text-mobile {
    display: none;
}

.history-about__item {
    transition: .4s all;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.history-about__item:hover {
    transform: scale(1.1);
}
.history-about__item > * {
    text-align: left;
}
.history-about__item-year {
    text-align: center;
    font-size: 2rem;
}
.history-about__item-img {
    text-align: center;
}
.section__description-row h3 {
    font-weight: 400;
    margin-bottom: 40px;
}
.section__description-row {
    margin-top: 20px;
    width: 100%;
    padding: 50px;
    background-color: #EFEFEF;
}
.section__description-row > .container {
    max-width: 1140px !important;
}
.questions-section > .row {
    margin-left: -20px;
    margin-right: -20px;
}
i.i-tab-qest-desc {
    background: url("../images/next.png") no-repeat center;
    background-size: contain;
    display: inline-block;
    width: 30px;
    height: 30px;
    animation-name: bounce-7;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}
i.i-tab{
    background: url("../images/next.png") no-repeat center;
    background-size: contain;
}
@keyframes bounce-7 {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-20px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

.info-collapse-list .card {
    background: #EFEFEF 0% 0% no-repeat padding-box;
    margin-top: 10px;
    margin-bottom: 10px;
    border: unset;
    border-radius: unset;
}
.info-collapse-list .card:nth-child(odd) {
    margin-right: 100px;
}
.info-collapse-list .card:nth-child(even) {
    margin-left: 100px;
}
.info-collapse-list .card .card-header {
    border: unset;
    padding: 20px;
    padding-right: 50px;
}
.info-collapse-list .card .card-header:after {
    content: "";
    width: 20px;
    height: 20px;
    background: url(../images/next.png) no-repeat center;
    background-size: contain;
    display: block;
    right: 20px;
    position: absolute;
    top: 23px;
}
.info-collapse-list .card .card-body {
    text-align: left;
}
.info-collapse-list .btn-link {
    outline: none;
    color: #E15A37;
    font-size: 18px;
    text-decoration: none;
    width: 100%;
    border: unset;
    background: transparent;
    text-align: left;
}
.info-collapse-list .btn-link.collapsed {
    outline: none;
    color: #000000 !important;
    font-size: 18px;
    text-decoration: none;
    width: 100%;
    border: unset;
    background: transparent;
    text-align: left;
}
.catalog-section__title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.stock-section {
    padding-top: 0;
    margin-bottom: 0;
}
.stock-section .stock-item {
    /*background-size: cover !important;*/
    display: flex;
    align-items: center;
}
.stock-section .stock-item:nth-child(1) {
    min-height: 300px;
    margin-bottom: 20px;
}
.stock-section .stock-item:nth-child(2) {
    min-height: 250px;
    border-right: 20px solid #ffffff;
    margin-bottom: 20px;
}
.stock-section .stock-item:nth-child(3) {
    min-height: 250px;
    margin-bottom: 20px;
}
.stock-section .stocks-item span {
    width: fit-content;
    text-align: left;
    background: #ffffff;
    padding: 20px;
    margin-left: 30%;
    margin-right: 40px;
    font-size: 21px;
    display: flex;
}
.row {
    margin: 0 auto;
}
.catalog-section {
    padding-top: 50px;
}
.catalog-section h1.catalog-section__title {
    text-align: center;
}
.catalog-section div.catalog-section__description {
    text-align: center;
    margin-bottom: 20px;
}

.catalog-list .catalog-list__item .catalog-list__item-card {
    background: #EFEFEF 0% 0% no-repeat padding-box;
    transition: .5s all;
    border-radius: 4px;
}
.catalog-list .catalog-list__item:hover > a .catalog-list__item-card {
    background: #FA3F3F;
    border-radius: 4px;
}
.catalog-list .catalog-list__item .catalog-list__item-card .catalog-list__item-card-img {
    width: 100%;
    transition: .5s all;
    border-radius: 4px;

}
.catalog-list .catalog-list__item .catalog-list__item-card:hover > .catalog-list__item-card-img {
    filter: grayscale(0);
}
.catalog-list .catalog-list__item .catalog-list__item-card:hover > .catalog-list__item-card-title {
    color: #ffffff;
}
.catalog-list .catalog-list__item .catalog-list__item-card .catalog-list__item-card-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding: 12px 16px;
    transition: .5s all;
}
.catalog-list .catalog-list__item .catalog-list__item-card .catalog-list__item-card-button-detail {
    background: #A8A5A0 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    display: inline-block;
    text-decoration: none;
    transition: .3s all;
}
.catalog-list .catalog-list__item .catalog-list__item-card .catalog-list__item-card-button-modal {
    background: #E15A37 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    transition: .3s all;
}
.catalog-list .catalog-list__item .catalog-list__item-card .catalog-list__item-card-button-modal:hover {
    opacity: 0.9;
}
.catalog-list .catalog-list__item .catalog-list__item-card .catalog-list__item-card-button-detail:hover {
    opacity: 0.9;
}
.section-price {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.section-price a {
    margin: 0;
}
.section-reviews {
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.section-reviews__title {
    text-align: center;
    margin-bottom: 40px;
}
/*.reviews-slider {
    max-height: 600px;
}
.reviews-slider .slick-track {
    display: flex;
    align-items: center !important;
}
.reviews-slider .reviews-slider__item {
    background: #EFEFEF 0% 0% no-repeat padding-box;
    padding: 20px;
    outline: none;
    filter: blur(5px);
    transform: scale(0.7);
    transition: .5s all;

}
.reviews-slider .reviews-slider__item.slick-center {
    transform: none;
    background: #EFEFEF 0% 0% no-repeat padding-box;
    padding: 20px;
    outline: none;
    filter: blur(0px);
    transition: .5s all;
}*/
/*
.reviews-slider .reviews-slider__item .reviews-slider__item-title .reviews-slider__item-title-img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}
.reviews-slider .reviews-slider__item .reviews-slider__item-title .reviews-slider__item-title-img img {
    width: 100%;
}
.reviews-slider .reviews-slider__item .reviews-slider__item-title .reviews-slider__item-title-text {
    font-weight: 500;
    font-size: 18px;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.reviews-slider .reviews-slider__item .reviews-slider__item-title .reviews-slider__item-title-text span {
    width: 100%;
    display: block;
    color: #848484;
    font-size: 14px;
}
.reviews-slider .reviews-slider__item .reviews-slider__item-content{
    font-size: 14px;
}*/
.for-biz-section {
    background: url(../images/for-biz-section1.png) no-repeat left;
    background-color: #ffffff;
    background-size: 45%;
    height: 100vh;
}
.for-biz-section-second {
    padding-bottom: 150px;
    padding-top: 120px;
}
.for-biz-section-second .for-biz-section-second__counter {
    text-align: right;
}
.for-biz-section-second .for-biz-section-second__counter span {
    font-size: 6rem;
    font-weight: 500;
    color: #E15A37;
}
.for-biz-section-second .for-biz-section-second__counter span:before {
    content: '';
    background: url(../images/arrow-up.png) no-repeat center;
    width: 70px;
    height: 100px;
    display: inline-block;
    background-size: contain;
    margin-right: 20px;
}

.for-biz-section-second .for-biz-section-second__counter-text {
    font-size: 1.7rem;
    text-align: left;
    line-height: 1.4;
    font-weight: 500;
}
.for-biz-section-second .row:nth-child(2) {
    font-weight: bold;
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
}
.biz-catalog-section .catalog-section__title {
    text-align: center;
    margin-bottom: 40px;
}
.biz-catalog-section .catalog-list .catalog-list__item a {
    text-decoration: none;
    color: #000000;
}
.biz-catalog-section .catalog-list .catalog-list__item-card-description {
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
}
.section-contacts {
    margin-bottom: 50px;
}
.section-contacts a {
    color: #ea512f;
}
.section-contacts .section__title {
    line-height: 62px;
    margin-bottom: 40px;
    padding-top: 10px;
}
.section-contacts ul {
    padding: 0 !important;
}
.section-contacts ul li {
    font-size: 18px;
    list-style: none;
    font-weight: 400;
    line-height: 35px;
}
.section-contacts .soc-icons-title {
    font-weight: 700;
    font-size: 18px;
}
.section-contacts .soc-icons-row a {
    font-size: 30px;
    color: #000000;
}
.section-contacts .soc-icons-row a:hover {
    color: #ea512f;;
}
.catalog-detail-title h1 {
   text-align: center;
    padding-top: 7px;
    padding-bottom: 10px;
    margin-bottom: 0 !important;
}
.detail-catalog-section__img img {
    width: 100%;
}
.detail-catalog-section__text {
    font-size: 18px;
}
.detail-catalog-section .detail-catalog-section__button-modal {
    background: #E15A37 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    transition: .3s all;
    text-align: center;
    margin-top: 30px
}
.detail-catalog-section .detail-catalog-section__button-modal:hover {
    opacity: 0.9;
}
.cases-list .cases-list__item {
    background-size: cover !important;
    padding: 150px 70px 150px 70px;
    display: flex !important;
    outline: none;
    margin-top: 40px;
}
.cases-list .slick-next {
    width: 30px;
    height: 30px;
    right: 5%;
    background: url(../images/next-arr.png) no-repeat;
    background-size: contain;
    transition: .5s all;
    z-index: 1;
}
.cases-list .slick-next:hover, .cases-list .slick-next:focus {
    right: 5%;
    background: url(../images/next-arr.png) no-repeat;
    background-size: contain;
    opacity: 0.9;
}
.cases-list .slick-next:before {
    display: none;
}
.cases-list .slick-prev {
    width: 30px;
    height: 30px;
    left: 5%;
    background: url(../images/prev-arr.png) no-repeat;
    background-size: contain;
    transition: .5s all;
    z-index: 1;
}
.cases-list .slick-prev:hover, .cases-list .slick-prev:focus {
    left: 5%;
    background: url(../images/prev-arr.png) no-repeat;
    background-size: contain;
    opacity: 0.9;
}
.cases-list .slick-prev:before {
    display: none;
}
.detail-biz-section {
    padding: 50px 0px 50px 0px !important;
    min-height: 400px;
}
.detail-biz-section .row {
    min-height: 300px;
}
.detail-biz-section .detail-biz-section__left {
    display: flex;
}
.detail-biz-section .detail-biz-section__right {
    display: flex;
}
.detail-biz-section__text {
    font-size: 18px;
}
.detail-biz-section .detail-biz-section__left div {
    width: fit-content;
    text-align: left;
    background: #ffffff;
    padding: 20px;
    margin-right: 250px;
    font-size: 21px;
    display: flex;
    align-self: flex-start;
}
.detail-biz-section .detail-biz-section__right div {
    width: fit-content;
    text-align: left;
    background: #ffffff;
    padding: 20px;
    margin-left: 250px;
    font-size: 21px;
    display: flex;
    align-self: flex-end;
}
.section-advantages-catalog {
    padding-top: 30px;
}
.section-advantages-catalog .advantages__item {
    margin: 0px auto !important;
    align-items: center;
    display: flex;
}
.section-advantages-catalog .advantages__item .advantages__item-img {
    float: left;
}
.section-advantages-catalog .advantages__item .advantages__item-content {
    float: left;
}
.personal-section .personal-section__content {
    padding:20px;
    background: #EFEFEF7D;
    border: 10px solid #ffffff;
}
.personal-section .personal-section__sidebar {
    background: #EFEFEF7D;
    border: 10px solid #ffffff;
    padding:20px;
}
.order-list {

}
.order-list .order-item {
    padding: 0;
    background: #ffffff;
    border: 10px solid #ffffff;
    margin-bottom: 10px;
}
.order-list .order-item .order-item__title {
    font-size: 18px;
    font-weight: 500;
}
.order-list .order-item .order-item__title .order-item-date-time {
    float: right;
    font-size: small;
    color: #848484;
}
.order-list .order-item .order-item__content {
    padding-top: 10px;
    font-size: 16px;
}
.personal-section {
    min-height: 50vh;
}
.personal-section__sidebar .personal-section__sidebar-order-content .personal-section__sidebar-order-content_button {
    background: #E15A37 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    transition: .3s all;
    text-align: center;
}
.personal-section__sidebar .personal-section__sidebar-order-content .personal-section__sidebar-order-content_button:hover {
    opacity: 0.9;
}
.personal-section__sidebar .personal-section__sidebar-order-content .personal-section__sidebar-order-content_button-gray {
    background: #A8A5A0 0% 0% no-repeat padding-box;
border-radius: 5px;
color: #ffffff;
width: 100%;
padding: 10px;
display: inline-block;
text-decoration: none;
transition: .3s all;
text-align: center;
    margin-top: 5px;
}
.personal-section__sidebar .personal-section__sidebar-order-content .personal-section__sidebar-order-content_button-gray:hover {
    opacity: 0.9;
}
.personal-section__sidebar .personal-section__sidebar-title {
    font-size: 18px;
    font-weight: 500;
}
.personal-section__sidebar .personal-section__sidebar-title span {
    color: #848484;
    font-size: 16px;
    font-weight: 400;
}
.personal-section__sidebar .personal-section__sidebar-order-content {
    padding-top: 20px;
}
.section-auth div.bx-auth {
    text-align: center;
}
.section-auth .bform {
    max-width: 400px;
    text-align: center;
}
.section-auth .bform p {
    width: 100%;
    display: block;
    text-align: center;
}
.section-auth .auth-section-button__orange {
    background: #E15A37 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    display: block;
    text-decoration: none;
    transition: .3s all;
    text-align: center;
    border: 0;
}
.section-auth .auth-section-button {
    background: #A8A5A0 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    text-decoration: none;
    transition: .3s all;
    display: block;
    text-align: center;
}

.section-auth input {
    outline: none;
    width: 100%;
}
.section-auth input:hover {
    opacity: 0.9;
}
.section-auth h1 {
    line-height: 62px;
}
.section-auth .bx-auth-input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}
.section-auth .bx-auth-input:hover, .bx-auth-input:focus {
    border: 1px solid #E15A37;
}
.section-auth .store-password {
    height: 25px;
}
.section-auth .store-password input {
    display: block;
    float: left;
    width: fit-content !important;
    height: 22px;
    margin-right: 5px;
}
.section-auth .store-password label {
    float: left;
}
.section-profile a {
    color: #E15A37;
}
.section-profile .bx-auth-profile {
    margin-top: 20px;
}
.section-profile a:hover {
    color: #E15A37;
    opacity: 0.9;
}
.section-profile input[type="checkbox"] {
    width: auto !important;
}
.section-profile input, select {
    outline: none;
    width: 100% !important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}
.section-profile input:hover, input:focus {
    border: 1px solid #E15A37;
}
.section-profile table tr td {
    vertical-align: middle;
}
.section-profile .auth-section-button__orange {
    background: #E15A37 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    display: block;
    text-decoration: none;
    transition: .3s all;
    text-align: center;
    border: 0;
}
.section-profile .auth-section-button {
    background: #A8A5A0 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    text-decoration: none;
    transition: .3s all;
    display: block;
    border: 0;
    text-align: center;
}
.section-profile .auth-section-button:hover, .section-profile .auth-section-button__orange:hover {
    border: 0;
    color: #ffffff;
}
.data-table {
    width: 100%;
}
.data-table td {
    text-align: left;
}
.data-table td img {
    margin: 0 auto;
    display: block;
}
.section-about-us .section__img {
    width: 50%;
}
.history-about__item-content h3 {
    font-size: 1.3rem;
}
.questions-section {
    padding-top: 10px !important;
}

#hellopreloader>p {
    display:none;
}
#hellopreloader_preload {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
}
#hellopreloader_preload .pulse {
    display: block;
    box-shadow: 0 0 0 rgb(228, 14, 22);
    animation: pulse 1.5s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgb(228, 14, 22);
    }
    70% {
        -webkit-box-shadow: 0 0 0 30px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgb(228, 14, 22);
        box-shadow: 0 0 0 0 rgb(228, 14, 22);
    }
    70% {
        -moz-box-shadow: 0 0 0 30px rgba(204,169,44, 0);
        box-shadow: 0 0 0 30px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

body.modal-open {
    overflow: auto;
    padding-right: 0px !important;
}
.modal-content {
    border: 0 !important;
    box-shadow: 0px 10px 40px #333333;
    -moz-box-shadow: 0px 10px 40px #333333;
    -webkit-box-shadow: 0px 10px 40px #333333;
}
.modal .close {
    float: right;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    color: #fa3f3f;
    text-shadow: 0 1px 0 #fff;
    opacity: 1 !important;
}
.modal .close:hover {
    opacity: 0.7 !important;
}
.modal button {
    outline: none !important;
}
.modal .modal-footer {
    border-top: none !important;
    justify-content: space-between !important;
}
.modal .modal-header {
    border-bottom: none !important;
}

.modal .modal-button-grey  {
    border: none;
    background: #A8A5A0 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #ffffff;
    width: auto;
    padding: 10px 20px 10px 20px;
    margin-bottom: 5px;
    display: inline-block;
    text-decoration: none;
    transition: .3s all;
}
.modal .modal-button-orange {
    border: none;
    background: #E15A37 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #ffffff;
    width: auto;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    text-decoration: none;
    transition: .3s all;
    margin: 5px;
}
.modal .modal-button-grey:hover {
    opacity: 0.9;
}
.modal .modal-button-orange:hover {
    opacity: 0.9;
    border: none;
}
.modal .modal-body a {
    color: #E15A37;
}
.modal .modal-body a:hover {
    color: #E15A37;
    opacity: 0.9;
}
.modal .modal-body p {
    margin-bottom: 0;
    margin-top: 30px;
    font-size: 12px;
}
.grecaptcha-badge {
    visibility: hidden;
}
.questions-section img {
    width: inherit;
}
.section-main-first {
    padding:0 !important;
}
.section-main-first .section__button {
    margin-bottom: 30px;
    height: min-content;
}
.modal-order-item:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}
.modal-order-item {
    margin-bottom: 10px;
    border-bottom: 1px dotted #dddddd;
    padding-bottom: 10px;
}
.modal-order-item-props input {
    width: auto;
}
.modal-order input {
    margin: auto;
    margin-left: -20px;
    margin-top: 5px;
}
.modal-order .form-check {
    display: flex;
}
.modal-order .form-check-label {
    width: 97%;
}
.modal-order .btn-link.collapsed {
    background: #A8A5A0 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    transition: .3s all;
    text-align: center;
    border: 0;
}
.modal-order .btn-link {
    background: #E15A37 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    transition: .3s all;
    text-align: center;
    border: 0;
    font-size: 16px;
}
.modal .btn-link:hover {
    opacity: 0.9;
}
.mobile-catalog-detail-title {
    display: none;
}

input[type='radio'],
label {
    cursor: pointer;
    display: inline-block;
}

input[type='radio'] {
    display: inline-block;
    position: relative;
    height: 22px;
    width: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    margin-top: 0px;
    margin-bottom: -5px;
    border: 0 !important;
}
input[type='radio']:hover {
    opacity: 0.8;
}
input[type='radio']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #E15A37;
}

input[type='radio']:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #E15A37;
    transform: translate(-50%, -50%);
    visibility: visible;
}
.tablebodytext {
    display: none;
    color: #ffffff;
}
form {
    margin: 0;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 750px;
        margin: 1.75rem auto;
    }
}

@media (max-width: 576px) {
    .b24-widget-button-position-bottom-right {
        right: 10px !important;
        bottom: 18px !important;
    }
    .stocks-list .stocks-item img {
        margin: 0 !important;
        min-height: auto;
        width: 140%;
    }
    .stocks-list .slick-next, .stocks-list .slick-next:hover, .stocks-list .slick-next:focus {
        right: 5px;
    }
    .slider-for {
        background: transparent linear-gradient(132deg, #FFFFFF 0%, #FFFAFF 100%) 0% 0% no-repeat padding-box;
        box-shadow: -2px 3px 3px #0000003B;
        height: 250px;
        max-width: 250px;
    }
    .section-reviews {
        display: none;
    }
    .catalog-section__title {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .feedback-card__button {
        margin-bottom: 70px;
    }
    .section.section-client-slider {
        padding-top: 40px !important;
    }
    .section-about-us .section__button {
        margin-bottom: 40px;
    }
    .section-main-first .section__button {
        margin-bottom: 20px;
    }
    .section.section-main-first {
        padding-top: 70px;
    }
    .section {
        padding-top: 0;
    }
    .section .section__title {
        margin-left: 30px;
        margin-right: 20px;
    }
    .history-about__item {
        margin-bottom: 30px !important;
        padding: 0 !important;
    }
    .for-biz-section .container {
        height: 90vh;
    }
    .for-biz-section {
        background-size: 100%;
    }
    .for-biz-section .section__button {
        position: absolute;
        margin-bottom: 0 !important;
        bottom: 80px;
        left: 32%;
    }
    .for-biz-section .section__title {
        margin-left: 30px;
        margin-right: 20px;
        margin-top: 30px;
    }
    .cases-list .cases-list__item {
        min-height: unset !important;
    }
    .reviews-slider__item-title-img {
        display: none;
    }
    .reviews-slider__item-title-text {
        padding-left: 0 !important;
    }
    .videos-section {
        width: 180%;
        height: auto;
        background-color: #ffffff;
        margin-bottom: 30px;
    }
    .videos-section-about {
        width: 100vw;
        height: auto;
        background-color: #ffffff;
    }
    .section-contacts ul {
        padding: 0 !important;
    }
    .cases-list__item {
        background-position-x: -10px !important;
    }
    .section-about-us .section__img {
        width: 100%;
    }
    .about-section-4 {
        background-size: 130%;
    }
    .about-section {
        background-size: contain;
    }
    h1, h2 {
        font-family: 'Montserrat';
        font-size: 24px !important;
    }
    .for-business__button {
        margin-bottom: 30px;
    }
    .section__img {
        width: 100%;
    }
    .for-business-component__item {
        height: 120px;
    }
    .feedback-card input[name="user_name"] {
        margin-bottom: 60px;
        width: 100%;
    }
    .feedback-card label {
        width: 100%;
    }
    .feedback-card label input {
        width: 100%;
        max-width: unset !important;
    }
    /*.comp-first-slider__items {
        max-width: 300px;
        margin: 0 auto;
    }*/
    .comp-first-slider__text {
        display: none;
    }
    .comp-first-slider__text-mobile {
        display: block;
    }
    .advantages__item-img {
        display: none;
    }
    .pp-scrollable {
        padding-bottom: 50px;
    }
    .advantages__item {
        min-height: 250px;
    }
    .advantages__item.active {
        min-height: 220px;
        background-color: #FFAA0030 !important;
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    .advantages__item .advantages__item-header {
        font-size: 18px;
    }
    .advantages__item.active .advantages__item-header {
        font-size: 18px;
        transition: .3s all;
    }
    .advantages__item-1, .advantages__item-1.active {
        background: url(../images/advantage_1.png) no-repeat center;
        background-size: contain;
    }
    .advantages__item-2, .advantages__item-2.active {
        background: url(../images/advantage_2.png) no-repeat center;
        background-size: contain;
    }
    .advantages__item-3, .advantages__item-3.active {
        background: url(../images/advantage_3.png) no-repeat center;
        background-size: contain;
    }
    .stock-section .stock-item:nth-child(1) {
        width: 100%;
        min-height: 150px;
        margin-bottom: 20px;
    }
    .stock-section .stock-item:nth-child(2) {
        width: 100%;
        min-height: 150px;
        margin-bottom: 20px;
        margin-right: 0 !important;
    }
    .stock-section .stock-item:nth-child(3) {
        width: 100%;
        min-height: 150px;
    }
    .stock-section .stock-item span {
        width: fit-content;
        text-align: left;
        background: #ffffff;
        padding: 20px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 18px;
        display: flex;
    }
    .catalog-detail-title {
        min-height: 65px;
    }
    .detail-catalog-section__text {
        margin-top: 25px;
    }
    .catalog-detail-title h1 {
        display: none;
    }
    .mobile-catalog-detail-title {
        display: block;
    }
    .mobile-catalog-detail-title h1 {
        text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .catalog-list .catalog-list__item .catalog-list__item-card .catalog-list__item-card-title {
        font-size: 12px;
    }
    .catalog-list .catalog-list__item .catalog-list__item-card .catalog-list__item-card-button-detail {
        font-size: 14px;
    }
    .catalog-list .catalog-list__item .catalog-list__item-card .catalog-list__item-card-button-modal {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .stocks-list {
        width: 100%;
        max-height: 500px;
        margin-left:0px;
    }
    .stocks-list .stocks-item {
        margin: 0px !important;
        min-height: auto;
        max-height: 500px;
        padding: 0 !important;
        overflow: hidden;
        outline: none;
    }
    .order-list .order-item .order-item__title .order-item-date-time {
        float: right;
        font-size: small;
        width: 100%;
        margin-bottom: 10px;
        color: #848484;
    }
    .questions-section .section__title {
        margin-left: 50px;
        margin-right: 40px;
        margin-top: 20px;
    }
    .stock-section .stock-item:nth-child(2){
        border-right: none !important;
    }
    .detail-biz-section {
        background-size: cover !important;
    }
    .detail-biz-section .detail-biz-section__left div {
        margin: 0 !important;
    }
    .cases-list__item div {
        padding: 0 !important;
    }
    .history-about__item-content {
        text-align: center;
        padding-top: 10px;
    }
    .for-biz-section-second__counter {
        text-align: center;
    }
    .for-biz-section-second__counter-text {
        text-align: center !important;
        margin-bottom: 20px;
    }
    .for-biz-section-second {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .feedback-card label {
        float: left;
        width: 100%;
    }
    .feedback-card label input {
        width: 100%;
        max-width: unset !important;
    }
    .feedback-card {
        height: unset !important;
    }
}
@media (min-width: 768px) {  }
@media (min-width: 992px) { }
@media (max-width: 1332px) {

}
@media (max-width: 1200px) {
    .stocks-list-nav {
        display: none !important;
    }
    .stocks-list-for {
        width: 100%;
        margin-right: 15px;
    }
    .section-digital {
        background: none;
        min-height: unset;
    }
}
